div.tools{
float:left;
margin-top:5px;
margin-left:10px;
}

div.right_part{
float:right;
margin-right:50px;
}

div.left_part{
width:700px;
float:left;
display:none;
}

ul#list{
margin-left:0;
margin-right:0;
}

#fontbar{
width:100%;
height:30px; 
margin-top:-30px;
background: #aaa;
background: rgba(0,0,0,0.2);
}

#input_content{

}

.fontbar{
float:left;
margin-top:5px;
margin-left:10px;
}